form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
  grid-gap: 10px;
  border: 2px solid #09f0c9;
  margin: 20px;
  width: 40%;
  height: 20%;
  margin-left: 30%;
  
}
form input{
  outline: none;
  border: none;
  height: 40px;
  font-family: poppins;
  text-align: center;
  border-radius: 0px;
  

}
.page{
  margin-left: 20%;
  background-color: #2b2e2d;
  color: #ffffff;
  border: 1px solid #fff;
  width: 55%;
   text-align: center;
   border-radius: 4px;
 
 
}
.card button{
  width: 80%;
  margin-left: 10%;
  padding: 6px;
  
}